<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta
    content="width=device-width, initial-scale=1, maximum-scale=1"
    name="viewport"
    />
    <link rel="shortcut icon" href="#"> <!--No favicon for this website-->
  </head>
  <body>
    <header class="main-hero">
      <h1>
        Travel Planner
      </h1>
    </header>
    <section>
      <h2>Add a new trip</h2>
      <form>
        <label for="destination">Destination:</label>
        <input type="text" id="destination"/>
        <label for="date">Departure Date:</label>
        <input type="date" id="date"/>
      </form>
      <button type="submit" id="submit">Submit</button>
    </section>

    <footer>

    </footer>
  </body>
</html>