@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Playfair+Display:wght@400;500;600;700&display=swap');
$primary-font: 'Playfair Display', times, serif;
$secondary-font: 'Bitter', times, serif;
$primary-color: rgb(255, 158, 30);
$secondary-color: rgb(255, 242, 221);