@use 'base';

.button-holder {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #444;
  border-radius: 0px 0px 10px 10px;
}

.card-button {
 display: inline-block;
 width: 80px;
 background-color: base.$secondary-color;
 color: black;
 font-family: base.$primary-font;
 margin-top: 10px;
 margin-bottom: 10px;
 border: base.$primary-color solid 2pt;
 border-radius: 10px;
 padding-top: 4px;
 padding-bottom: 4px;
}

@media only screen and (min-width: 600px) {
  .card-button {
    width: 20%;
  }
}