@use 'base';

#entries {
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid #444 2pt;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


