@use 'base';

.card-header {
  font-family: base.$primary-font;
  display: flex;
  flex-direction: column;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  border-bottom: #444 solid 2pt;
  padding-bottom: 2%;
}

.city-img {
  margin: 5px;
  border: solid #999 1pt;
  padding: 5px;
  border-radius: 5px;
}


@media only screen and (min-width: 600px) {
  .card-header {
    display: flex;
    flex-direction: row;
  }

  .header-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 4vmin;
    }

    h3 {
      font-size: 3vmin;
    }
  }

  .city-img {
    width: 50%;
  }
}
