@use 'base';

.card-header {
  font-family: base.$primary-font;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  h2 {
    border-bottom: #444 solid 2pt;
    padding-bottom: 2%;
    align-self: center;
  }

  .header-icon {
    width: 15%;
    align-self: center;
  }

  .header-temp {
    font-family: base.$secondary-font;
  }
}

@media only screen and (min-width: 600px) {
  .card-header {
    h2 {
      font-size: 4vmin;
    }
  }
}
