@use 'base';

.card-header {
  font-family: base.$primary-font;
  width: 90;
  display: flex;
  flex-direction: row;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

.city-img {
  width: 50%;
  box-shadow: inset -250px 0 50px 10px #FFF;
  margin: 5px;
}


@media only screen and (min-width: 600px) {
  .card-header {
    h2 {
      font-size: 4vmin;
    }

    h3 {
      font-size: 3vmin;
    }
  }
}
