@use 'base';

footer {
  background-color: #444;
  font-size: 10pt;
  font-family: base.$primary-font;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    text-decoration: none;
    color: base.$secondary-color;
    display: block;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: rgb(241, 177, 38);
    }
  }
}

@media only screen and (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2vmin;
  }
}